<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.digitalfingertip.mobisevera"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name = "android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>

    <application android:icon="@drawable/mobisevera_logo" android:label="@string/app_name" android:theme="@style/MobiseveraStyle">
        <activity android:name=".activity.MobiseveraFrontpageActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MobiseveraClaimActivity" />
        <activity android:name=".activity.MobiseveraProjectActivity" />
        <activity android:name=".activity.MobiseveraConfig"></activity>
        <activity android:name=".activity.QueryHourEntries"></activity>
        <activity android:name=".activity.ListHourEntries"></activity>
    </application>
</manifest>